<?xml version="1.0"?>
<config>
    <modules>
        <Uaudio_Storage>
            <version>0.1.22</version>
        </Uaudio_Storage>
    </modules>
    <global>
        <models>
            <uaudio_storage>
                <class>Uaudio_Storage_Model</class>
                <resourceModel>uaudio_storage_resource</resourceModel>
            </uaudio_storage>
            <adminhtml>
                <rewrite>
                    <system_config_source_storage_media_storage>Uaudio_Storage_Model_System_Config_Source_Storage_Media_Storage</system_config_source_storage_media_storage>
                </rewrite>
            </adminhtml>
            <captcha>
                <rewrite>
                    <zend>Uaudio_Storage_Model_Captcha_Zend</zend>
                    <observer>Uaudio_Storage_Model_Captcha_Observer</observer>
                </rewrite>
            </captcha>
            <catalog>
                <rewrite>
                    <category_attribute_backend_image>Uaudio_Storage_Model_Catalog_Category_Attribute_Backend_Image</category_attribute_backend_image>
                    <product_attribute_backend_media>Uaudio_Storage_Model_Catalog_Product_Attribute_Backend_Media</product_attribute_backend_media>
                    <product_image>Uaudio_Storage_Model_Catalog_Product_Image</product_image>
                </rewrite>
            </catalog>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Uaudio_Storage_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                    <wysiwyg_images_storage_collection>Uaudio_Storage_Model_Storage_Collection</wysiwyg_images_storage_collection>
                </rewrite>
            </cms>
            <core>
                <rewrite>
                    <file_storage>Uaudio_Storage_Model_Storage</file_storage>
                    <design_package>Uaudio_Storage_Model_Core_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <blocks>
            <uaudio_storage>
                <class>Uaudio_Storage_Block</class>
            </uaudio_storage>
            <adminhtml>
                <rewrite>
                    <system_config_system_storage_media_synchronize>Uaudio_Storage_Block_Adminhtml_System_Config_System_Storage_Media_Synchronize</system_config_system_storage_media_synchronize>
                </rewrite>
            </adminhtml>
            <page>
                <rewrite>
                    <html_head>Uaudio_Storage_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <uaudio_storage>
                <class>Uaudio_Storage_Helper</class>
            </uaudio_storage>
            <core>
                <rewrite>
                    <data>Uaudio_Storage_Helper_Core_Data</data>
                </rewrite>
            </core>
            <configurableswatches>
                <rewrite>
                    <productimg>Uaudio_Storage_Helper_ConfigurableSwatches_Productimg</productimg>
                </rewrite>
            </configurableswatches>
            <cms>
                <rewrite>
                    <wysiwyg_images>Uaudio_Storage_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
        <cache>
            <types>
                <file_storage translate="label,description" module="uaudio_storage">
                    <label>File Storage</label>
                    <description>File Storage Meta Data.</description>
                    <tags>FILE_STORAGE</tags>
                </file_storage>
            </types>
        </cache>
    </global>
    <adminhtml>
        <events>
            <adminhtml_cache_flush_system>
                <observers>
                    <uaudio_storage>
                        <class>uaudio_storage/storage_cache</class>
                        <method>flushSystem</method>
                    </uaudio_storage>
                </observers>
            </adminhtml_cache_flush_system>
            <adminhtml_cache_refresh_type>
                <observers>
                    <uaudio_storage>
                        <class>uaudio_storage/storage_cache</class>
                        <method>refreshCacheType</method>
                    </uaudio_storage>
                </observers>
            </adminhtml_cache_refresh_type>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <uaudio_storage before="Mage_Adminhtml">Uaudio_Storage_Adminhtml</uaudio_storage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <system>
            <media_storage_configuration>
                <media_s3_access_key backend_model="adminhtml/system_config_backend_encrypted" />
                <media_s3_secret_key backend_model="adminhtml/system_config_backend_encrypted" />
            </media_storage_configuration>
        </system>
    </default>
    <uaudio_storage>
        <aws>
            <name>Amazon S3</name>
            <class>uaudio_storage/storage_s3</class>
        </aws>
        <local>
            <name>Local</name>
            <class>uaudio_storage/storage_local</class>
        </local>
    </uaudio_storage>
</config>
